body {
  background-image: url("img/background.jpg");
  background: color #000000;
  background-size: 100px 80px;
}
span,h1,h2,h3,p{
  color: white;
  text-shadow: 3px 2px black;
  font-weight: bold;
}